body{
	font-family: arial;
	overflow-x: hidden;
	color: rgb(36, 36, 36);
	line-height: 1.5;
	box-sizing: border-box
  }
  /*Code Coloring*/
  .code-box{
	background-color: rgb(247,247,247);
	border-radius: 6px;
	padding: 10px;
	margin: 4px;
  }

  .code{
	background-color: rgb(245, 245, 245);
	color: crimson;
	padding: 0 4px;
  }

  .crimson{
	color: crimson;
  }

  .red{
	color: red;
  }

  .blue{
	color: mediumblue
  }

  hr{
	height: 0.01px;
  }

  /*Examples Layouts*/
  .example-1{
	border: 2px solid #04AA6D;
	position: static
  }

  .example-2{
	border: 2px solid #04AA6D;
	position: relative;
	left: 30px;
	max-width: 270px;
  }

  .example-3{
	border: 2px solid #04AA6D;
	background-color: rgb(211, 235, 204);
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 5px 12px;
  }

  .example-4{
	border: 2px solid #04AA6D;
	position: relative;
	width: 400px;
	height: 200px;
  }

  .example-4a{
	border: 2px solid #04AA6D;
	position: absolute;
	width: 200px;
	height: 100px;
	top: 80px;
	right: 0;
  }

  .sticky{
	position: sticky;
	top: 0;
	font-weight: bold;
	font-size: 26px
  }

  /*Green Lines of Code Examples*/
  #green-line-1{
	width: 5px;
	height: 78px;
	background-color: #04AA6D;
	float: left;
	margin-right: 15px;
  }

  #green-line-2{
	width: 5px;
	height: 97px;
	background-color: #04AA6D;
	float: left;
	margin-right: 15px;
  }

  #green-line-3{
	width: 5px;
	height: 156px;
	background-color: #04AA6D;
	float: left;
	margin-right: 15px;
  }

  #green-line-4{
	width: 5px;
	height: 295px;
	background-color: #04AA6D;
	float: left;
	margin-right: 15px;
  }

  #green-line-5{
	width: 5px;
	height: 80px;
	background-color: #04AA6D;
	float: left;
	margin-right: 15px;
  }

  #note{
	background-color: rgb(252, 252, 204);
	width: 100%;
	padding: 10px 20px;
	box-sizing: border-box;
  }

  /*Navigator*/
  @media (max-width: 815px){
	main{
	  position: relative;
	  margin-bottom: 10px;
	  padding-top: 190px;
	  z-index: -1;
	}

	nav{
	  position: fixed;
	  display: block;
	  top: 0px;
	  width: 100%;
	  height: 220px;
	  border-bottom: solid;
	  border-color: rgb(0, 22, 22);
	  padding-bottom: 5px;
	  z-index: 1;
	  background-color: white
	  }
	nav header{
	  text-align: center;
	  font-size: 15px;
	}

	nav a{
	  text-decoration: none;
	  color: rgb(36, 36, 36);
	  padding: 10px 30px;
	}

  ul {
	  display: block;
	  list-style-type: disc;
	  margin-block-start: 1em;
	  margin-block-end: 1em;
	  margin-inline-start: 0px;
	  margin-inline-end: 0px;
	  padding-inline-start: 40px;
  }

	#navbar ul {
	  height: 70%;
	  padding: 0;
	  overflow-y: auto;
	  overflow-x: hidden;
	  z-index: 100
	}

	li{
	  padding: 10px;
	  border-top: 0.2px solid
	}

	nav ul li:first-of-type{
	  border-top:1.5px solid
	}
  }

  @media (min-width: 816px){
	main{
	  position: relative;
	  margin-left: 310px;
	  padding: 20px;
	  margin-bottom: 10px;
  }

	nav{
	  position: fixed;
	  display: block;
	  min-width: 290px;
	  top: 0px;
	  left: 0px;
	  width: 300px;
	  height: 100%;
	  border-right: solid;
	  border-color: rgba(0, 22, 22, 0.4);
	  }
	nav header{
	  text-align: center;
	  font-size: 30px;
	  padding-top: 15px;
	}

	nav a{
	  text-decoration: none;
	  color: rgb(36, 36, 36);
	  padding: 10px 30px;
	}

	#navbar ul {
	  height: 70%;
	  padding: 0;
	  overflow-y: auto;
	  overflow-x: hidden;
	  z-index: 100
	}

	li{
	  padding: 10px;
	  border-top: 0.2px solid
	}

	nav ul li:first-of-type{
	  border-top:1.5px solid
	}
  }

